@{
    Layout = "~/Views/Shared/_LayOutHead.cshtml";
 }

 <div class="container-fluid">
        <div class="row fixed-top bg-dark" style="height:50px;">
            <div class="col-2 text-center ">
                <nav class="navbar navbar-dark">
                    <a class="navbar-brand mb-0 h1" href="~/home/index"><img style="height:35px;width:35px" src="~/img/User.png" /><span>مدیریت سایت</span></a>
                </nav>
            </div>
            <div class="col-10"></div>
        </div>
        <div class="row" style="margin-top:48px;">

            <div class="col d-sm-none d-block bg-dark">
                <nav class="navbar bg-dark navbar-dark">
                    <form class="form-inline" action="/action_page.php">
                        <div class="input-group">
                            <button class="btn btn-danger">جستجو</button>
                            <input type="text" class="form-control" placeholder="جستجو">
                            <input type="text" class="form-control" placeholder="جستجو">
                        </div>
                    </form>
                </nav>
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">


                        <ul class="navbar-nav">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    اطلاعات پایه
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Course/List">دوره های آموزشی</a>
                                    <a class="dropdown-item" href="/Category/List">دسته ها</a>
                                    <a class="dropdown-item" href="/Teacher/list">مدرسین</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    مشتریان
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">مدیریت مشتریان</a>
                                    <a class="dropdown-item" href="#">گزارش مشتریان</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    فروش
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">سفارشات</a>
                                    <a class="dropdown-item" href="#">مرسوله ها</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    پیکربندی
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">تنظیمات مشتری</a>
                                    <a class="dropdown-item" href="#">تنظیمات صفحه اصلی</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 d-none d-sm-block bg-dark" style="height:1000px;">
                <nav class="navbar bg-dark navbar-dark">
                    <form class="form-inline" action="/action_page.php">
                        <div class="input-group">
                            <button class="btn btn-danger">جستجو</button>
                            <input type="text" class="form-control" placeholder="جستجو">
                        </div>
                    </form>
                </nav>
                <nav class="navbar navbar-dark ">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                 اطلاعات پایه
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Course/List">دوره های آموزشی</a>
                                <a class="dropdown-item" href="/Teacher/list">مدرسین</a>
                                <a class="dropdown-item" href="/Category">دسته ها</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                مشتریان
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">مدیریت مشتریان</a>
                                <a class="dropdown-item" href="#">گزارش مشتریان</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                فروش
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">سفارشات</a>
                                <a class="dropdown-item" href="#">مرسوله ها</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                پیکربندی
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">تنظیمات مشتری</a>
                                <a class="dropdown-item" href="#">تنظیمات صفحه اصلی</a>
                            </div>
                        </li>
                    </ul>

                </nav>
            </div>

            <div class="col-sm-7 col-md-8 col-xl-10" style="margin-top:10px;">
                @RenderBody()
            </div>
        </div>

    </div>
