
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/DatePicker/persian-datepicker.css" rel="stylesheet" />
    <script src="~/js/Jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/Popper.js"></script>
    <script src="~/js/DatePicker/persian-date.min.js"></script>
    <script src="~/js/DatePicker/persian-datepicker.min.js"></script>
    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>*@
    @RenderSection("ViewScript", false)
    <title>صفحه اصلی</title>

</head>

<body>

    <div class="container-fluid">
        <div class="row fixed-top bg-dark" style="height:50px;">
            <div class="col-2 text-center ">
                <nav class="navbar navbar-dark">
                    <a class="navbar-brand mb-0 h1" href="#"><img style="height:35px;width:35px" src="~/img/User.webp" /><span>مدیریت سایت</span></a>
                </nav>
            </div>
            <div class="col-10"></div>
        </div>
        <div class="row" style="margin-top:48px;">

            <div class="col d-sm-none d-block bg-dark">
                <nav class="navbar bg-dark navbar-dark">
                    <form class="form-inline" action="/action_page.php">
                        <div class="input-group">
                            <button class="btn btn-danger">جستجو</button>
                            <input type="text" class="form-control" placeholder="جستجو">
                            <input type="text" class="form-control" placeholder="جستجو">
                        </div>
                    </form>
                </nav>
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">


                        <ul class="navbar-nav">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    کاتالوگ
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">دوره های آموزشی</a>
                                    <a class="dropdown-item" href="#">دسته ها</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    مشتریان
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">مدیریت مشتریان</a>
                                    <a class="dropdown-item" href="#">گزارش مشتریان</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    فروش
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">سفارشات</a>
                                    <a class="dropdown-item" href="#">مرسوله ها</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    پیکربندی
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">تنظیمات مشتری</a>
                                    <a class="dropdown-item" href="#">تنظیمات صفحه اصلی</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 d-none d-sm-block bg-dark" style="height:1000px;">
                <nav class="navbar bg-dark navbar-dark">
                    <form class="form-inline" action="/action_page.php">
                        <div class="input-group">
                            <button class="btn btn-danger">جستجو</button>
                            <input type="text" class="form-control" placeholder="جستجو">
                        </div>
                    </form>
                </nav>
                <nav class="navbar navbar-dark ">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                کاتالوگ
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Product/Create">دوره های آموزشی</a>
                                <a class="dropdown-item" href="/Category">دسته ها</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                مشتریان
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">مدیریت مشتریان</a>
                                <a class="dropdown-item" href="#">گزارش مشتریان</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                فروش
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">سفارشات</a>
                                <a class="dropdown-item" href="#">مرسوله ها</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                پیکربندی
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">تنظیمات مشتری</a>
                                <a class="dropdown-item" href="#">تنظیمات صفحه اصلی</a>
                            </div>
                        </li>
                    </ul>

                </nav>
            </div>

            <div class="col-sm-7 col-md-8 col-xl-10" style="margin-top:10px;">
                @RenderBody()
            </div>
        </div>

    </div>
</body>
</html>
