@model EductionWeb.Models.CategoryListModel;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="jumbotron h3 text-center" >
    صفحه اصلی
</div>
<form asp-controller="Home" asp-action="Test" method="post">
    <caption-view asp-title="dasd"></caption-view>
    <persian-date asp-for="a"></persian-date>
    <button type="submit">sad</button>
</form>