
@model Eduction.Service.DTOs.Category.CategoryListItemDTO;
@{
 
    ViewBag.Title = "مشاهده دسته ها";
}
<!DOCTYPE html>




<div style="width:100%;margin:10px auto;">
    <i class="fa fa-codepen"> <span>مدیریت دسته ها</span> </i>
    <hr />

    <form class="form-inline" asp-controller="Category" asp-action="List" method="get">

        <input class="form-control" placeholder="در دسته ها جستجو کن" asp-for="CategorySearchName">
        <button type="button" onclick="ShowCategory()" id="SearchButton" class="btn btn-primary">جستجو</button>
    </form>
    <div style="float:left">

        <a class="btn-link" asp-controller="Category" asp-action="Create">ثبت جدید </a>
    </div>
    <table class="table table-bordered table-hover text-center">
        <thead class="bg-primary text-light">

            <tr>
                <td>عنوان</td>
                <td>شرح</td>
           
            </tr>
        </thead>
        <tbody id="CategoryBody">
        </tbody>
    </table>

    <div style="margin-right:45%">
        <row>

            <nav aria-label="Page navigation example ">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </row>
    </div>
</div>




    <script>
       
        window.onload = load;
        function load() {
            ShowCategory();
        }
        function ShowCategory() {
            AJX.get("../Category/GetCategory", { "CategorySearchName": CategorySearchName.value }, function (_list) {
                var str = "";
                for (var i in _list) {
                    str += '<tr>';
                    str += '<td>' + _list[i].name + '</td>';
                    str += '<td>' + _list[i].description + '</td>';             
                    str += '</tr>';
                }
                document.getElementById('CategoryBody').innerHTML = str;
            }, "json");

        }
    </script>



<style>
    #CategorySearchName {
        margin-bottom: 5px;
        margin-left: 5px;
    }

    #SearchButton {
        margin-bottom: 5px
    }
</style>