
@using Eduction.Core.Extension;
@model Eduction.Service.DTOs.Teacher.TeacherListItemDTO;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "مشاهده مدرسین";
}
<!DOCTYPE html>




<div style="width:100%;margin:10px auto;">
    <i class="fa fa-codepen"> <span>مدیریت مدرسین</span> </i>
    <hr />

    <form class="form-inline" asp-controller="Teacher" asp-action="List" method="get">

        <input class="form-control" id="TeacherSearchName" placeholder="جستجو بر اساس نام خانوادگی " asp-for="TeacherSearchName">
        <button type="button" onclick="ShowTeacher()" id="SearchButton" class="btn btn-primary">جستجو</button>
    </form>
    <div style="float:left">

        <a class="btn-link" asp-controller="Teacher" asp-action="Create">ثبت جدید </a>
    </div>
    <table class="table table-bordered table-hover text-center">
        <thead class="bg-primary text-light">

            <tr>
                <td>نام</td>
                <td>نام خانواگی</td>
                <td>شماره تلفن</td>
                <td>کد ملی</td>
                <td>پست الکترونیکی</td>
                <td>آخرین مدرک تحصیلی</td>
                <td>ویرایش</td>
                <td>حذف</td>
            </tr>
        </thead>
        <tbody id="TeacherBody">
           
        </tbody>
    </table>

    <div style="margin-right:45%">
        <row>

            <nav aria-label="Page navigation example ">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </row>
    </div>
</div>

@section ViewScript
{
    <script>
         function Remove(id) {
            if (!confirm("ایا عملیات انجام شود؟"))
                return;
            AJX.post("../Teacher/Remove", { "id": id }, function (data) { 
                ShowTeacher();

            });
        }
        window.onload = load;
        function load() {
            ShowTeacher();
        }
        function ShowTeacher() {
            AJX.get("../Teacher/GetTeachers",{ "TeacherSearchName":TeacherSearchName.value }, function (_list) {
                var str = "";
                for (var i in _list) {
                    str += '<tr>';
                    str += '<td>' + _list[i].firstName + '</td>';
                    str += '<td>' + _list[i].lastName + '</td>';
                    str += '<td>' + _list[i].phoneNumber + '</td>';
                    str += '<td>' + _list[i].nationalCode + '</td>';
                    str += '<td>' + _list[i].email + '</td>';
                    str += '<td>' + _list[i].lastDegreeOfEducation + '</td>';
                    str += ' <td><a class="btn-link" href="/Teacher/Create/' + _list[i].id + '">ویرایش</a></td>';
                   str += ' <td><a class="btn-link" href="#"  onclick=Remove(' + _list[i].id + ') ">حذف</a></td>';
                    str += '</tr>';
                }
                document.getElementById('TeacherBody').innerHTML = str;
            }, "json");
        }
    </script>
}
<script>

</script>
<style>
    #TeacherSearchName {
        margin-bottom: 5px;
        margin-left: 5px;
    }

    #SearchButton {
        margin-bottom: 5px
    }
</style>